<%= content_for :sidebar do %>
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Employees Administration</li>
			<li><%= link_to "New Employee", new_employee_path %></li>
			<li><%= link_to "View All", employees_path %></li>
			<li class="nav-header">Search Employee</li>
			<li>
				<%= form_tag employees_path, :method => :get do %>
					<%= text_field_tag 'search', params[:search], :class => 'generic glass', :placeholder => "Search employee..." %>
				<% end %>
			</li>
		</ul>	
		
	</div>
<% end %>
<fieldset id="list_of_employees" class="">
	<legend>List of Employees</legend>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Last sign in at</th>
	  <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee, employee %></td>
        <td><%= employee.email %></td>
        <td><%= employee.try(:last_sign_in_at).try(:strftime, "%b %d, %Y") %></td>
        <td><%= employee.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>