<br />
<div class="row">
	<div class="span10">
		<%= simple_form_for @user do |f| %>
			<fieldset>
				<legend><%= yield(:fieldset) %></legend>
				<div class="row-fluid">
					<br />
					<div class="span4">
						<%= f.input :email %>
						<%= f.input :password %>
						<%= f.input :password_confirmation %>
						<%= f.input :name %>
						<%= f.input :last_name %>
					</div>
				</div>				
			</fieldset>

			<div class="form-actions reset-margins-bottom">
				<%= f.submit "Save employee", :class => "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
