<fieldset id="list_of_employees" class="">
	<legend>List of employees</legend>
</fieldset>
<br />
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Last sign in at</th>
	  <th>Created at</th>
	  <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.email %></td>
        <td><%= user.last_sign_in_at.strftime("%b %d, %Y") %></td>
        <td><%= user.created_at.strftime("%b %d, %Y") %></td>
        <td>
          <%= link_to "Edit", edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to "Destroy",user, :method => :delete, :confirm => "Are you sure?",:class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New employee", new_user_path, :class => 'btn btn-primary' %>