<%= content_for :sidebar do %>
	<div class="well sidebar-nav">
		<%= render 'shared/general_admin' %>
		<ul class="nav nav-list">
			<%= render 'shared/current_user_projects' %>
			<li class="nav-header">Clients Administration</li>
			<li><%= link_to "New Client", new_client_path %></li>
			<li><%= link_to "View All", clients_path %></li>
			<li class="nav-header">Filter by:</li>
			<li class="<%= 'active' if params[:action] == "interested_in_software" %>"><%= link_to "Software", interested_in_software_clients_path %></li>
			<li class="<%= 'active' if params[:action] == "interested_in_graphic_design" %>"><%= link_to "Graphic Design", interested_in_graphic_design_clients_path %></li>
			<li class="<%= 'active' if params[:action] == "interested_in_industrial_design" %>"><%= link_to "Industrial Design", interested_in_industrial_design_clients_path %></li>
			<li class="<%= 'active' if params[:action] == "interested_in_business_planning" %>"><%= link_to "Business Planning", interested_in_business_planning_clients_path %></li>
			<li class="<%= 'active' if params[:action] == "interested_in_research_and_development" %>"><%= link_to "Research & Development", interested_in_research_and_development_clients_path %></li>
			<li class="nav-header">Search Client</li>
			<li>
				<%= form_tag clients_path, :method => :get do %>
					<%= text_field_tag 'search', params[:search], :class => 'generic glass', :placeholder => "Search client..." %>
				<% end %>
			</li>
		</ul>	
		
	</div>
<% end %>
<div class="row-fluid">
	<fieldset id="clients" class="">
		<legend>List of Clients</legend>
	<table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th>Company Name</th>
	      <th>Business Type</th>
	      <th>Interests</th>
		  <th>Contact Name</th>
	      <th>Phone</th>
		  <th>Mobile</th>
	      <th>Email</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @clients.each do |client| %>
	      <tr>
	        <td><%= link_to client.company_name, client %></td>
	        <td><%= client.business_type %></td>
	        <td><%= client.business_unit_interests.to_sentence %></td>
	        <td><%= client.contact_name %></td>
	        <td><%= client.phone %></td>
	        <td><%= client.mobile %></td>
	        <td><%= client.email %></td>
	        <td>
	          <%= link_to "Edit", edit_client_path(client), :class => 'btn btn-mini' %>
	          <%= link_to "Destroy", client_path(client),
	                      :method => :delete,
	                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	                      :class => 'btn btn-mini btn-danger' %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>	
</div>
</fieldset>