<div id="charts" style="text-align:center">
  	<h2>Welcome, <%= current_user %> | <%= Time.now.strftime("%B %d, %Y") %></h2>
 	<br />
	<div id="general_management" data-software-count="<%= @projects_software.count %>"
								 data-bp-count="<%= @projects_business_planning.count %>"
								 data-gd-count="<%= @projects_graphic_design.count %>"
								 data-id-count="<%= @projects_industrial_design.count %>"
								 data-rd-count="<%= @projects_r_and_d.count %>"
								 data-business="<%= project_status_business @projects_business_planning %>"
								 data-industrial="<%= project_status_business  @projects_industrial_design %>"
								 data-software="<%= project_status_business @projects_software %>"
								 data-gdesign="<%= project_status_business @projects_graphic_design %>"
								 data-rd="<%= project_status_business @projects_r_and_d %>"
								 data-total-count="<%= @external_projects %>">
								 
	</div>
	<br /><br />
	<div id="business_units_graph"  data-software-count="<%= @projects_software.count %>"
								 	data-bp-count="<%= @projects_business_planning.count %>"
									data-gd-count="<%= @projects_graphic_design.count %>"
									data-id-count="<%= @projects_industrial_design.count %>"
									data-rd-count="<%= @projects_r_and_d.count %>"
									data-lost="<%= project_status @projects_lost %>"
									data-potential="<%= project_status  @projects_potential %>"
									data-billed="<%= project_status @projects_billed %>"
									data-paid="<%= project_status @projects_paid %>"
									data-total-count="<%= @external_projects %>"
									data-internal-count="<%= @internal_projects.count %>">
		
	</div>
	<br /><br />
	<div id="employees_projects" data-employees="<%= employees_names @employees %>"
								 data-employees-bp="<%= employees_bp @employees %>"
								 data-employees-gd="<%= employees_gd @employees %>"
								 data-employees-id="<%= employees_id @employees %>"
								 data-employees-software="<%= employees_software @employees %>"
								 data-employees-rd="<%= employees_rd @employees %>"
								 data-employees-internal="<%= employees_internal @employees %>">
		
	</div>
	<br /><br />
	<div id="employees_projects_money" data-employees="<%= employees_names @employees %>"
								 data-employees-bp-money="<%= employees_bp_money @employees %>"
								 data-employees-gd-money="<%= employees_gd_money @employees %>"
								 data-employees-id-money="<%= employees_id_money @employees %>"
								 data-employees-software-money="<%= employees_software_money @employees %>"
								 data-employees-rd-money="<%= employees_rd_money @employees %>">
		
	</div>
	<br /><br />
	<div id="business_unit_suppliers" data-total-count="<%= @external_projects %>"
								 data-bp="<%= @bu_business_planning %>"
								 data-gd="<%= @bu_graphic_design %>"
								 data-id="<%= @bu_industrial_design %>"
								 data-software="<%= @bu_software %>"
								 data-rd="<%= @bu_r_and_d %>">
		
	</div>
	<br /><br />
	<div id="general_management_money" data-software-count="<%= @projects_software.estimation_sum %>"
								 data-bp-count="<%= @projects_business_planning.estimation_sum %>"
								 data-gd-count="<%= @projects_graphic_design.estimation_sum %>"
								 data-id-count="<%= @projects_industrial_design.estimation_sum %>"
								 data-rd-count="<%= @projects_r_and_d.estimation_sum %>"
								 data-business="<%= project_status_money_bp @projects_business_planning %>"
								 data-industrial="<%= project_status_money_id  @projects_industrial_design %>"
								 data-software="<%= project_status_money_software @projects_software %>"
								 data-gdesign="<%= project_status_money_gd @projects_graphic_design %>"
								 data-rd="<%= project_status_money_rd @projects_r_and_d %>">
								 
	</div>
	
</div>