<div class="" style="text-align:center">
  	<h2>Welcome, <%= current_user %> | <%= Time.now.strftime("%B %d, %Y") %></h2>
 	<br />
	<div id="general_management" data-software-count="<%= @projects_software.count %>"
								 data-bp-count="<%= @projects_business_planning.count %>"
								 data-gd-count="<%= @projects_graphic_design.count %>"
								 data-id-count="<%= @projects_industrial_design.count %>"
								 data-rd-count="<%= @projects_r_and_d.count %>"
								 data-business="<%= project_status_business @projects_business_planning %>"
								 data-industrial="<%= project_status_business  @projects_industrial_design %>"
								 data-software="<%= project_status_business @projects_software %>"
								 data-gdesign="<%= project_status_business @projects_graphic_design %>"
								 data-rd="<%= project_status_business @projects_r_and_d %>"
								 data-total-count="<%= @external_projects %>">
								 
	</div>
	<br /><br />
	<div id="business_units_graph"  data-software-count="<%= @projects_software.count %>"
								 	data-bp-count="<%= @projects_business_planning.count %>"
									data-gd-count="<%= @projects_graphic_design.count %>"
									data-id-count="<%= @projects_industrial_design.count %>"
									data-rd-count="<%= @projects_r_and_d.count %>"
									data-lost="<%= project_status @projects_lost %>"
									data-potential="<%= project_status  @projects_potential %>"
									data-billed="<%= project_status @projects_billed %>"
									data-paid="<%= project_status @projects_paid %>"
									data-total-count="<%= @external_projects %>">
		
	</div>
</div>