<div class="" style="text-align:center">
  	<h2>Welcome, <%= current_user %></h2>
	<div id="general_management" data-software-count="<%= @projects_software.count %>"
								 data-bp-count="<%= @projects_business_planning.count %>"
								 data-gd-count="<%= @projects_graphic_design.count %>"
								 data-id-count="<%= @projects_industrial_design.count %>"
								 data-rd-count="<%= @projects_r_and_d.count %>"
								 data-business="<%= project_status_business @projects_business_planning %>"
								 data-industrial="<%= project_status_business  @projects_industrial_design %>"
								 data-software="<%= project_status_business @projects_software %>"
								 data-gdesign="<%= project_status_business @projects_graphic_design %>"
								 data-rd="<%= project_status_business @projects_r_and_d %>"
								 data-total-count="<%= @external_projects %>">
								 
	</div>
	<br />
	<div id="milestones_status">
		
	</div>
</div>