<%= simple_form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  	<%= yield(:fieldset) %>
	<%= f.input :kind, :collection => Project::KINDS, :prompt => "Select a project type" %>
  	<%= f.input :name, :input_html => { :class => "generic" } %>
	<%= f.input :client_id, :input_html => { "data-client" => data_client } %>
	<%= f.input :business_unit_id, :input_html => {"data-business_unit" => data_business_unit} %>
	<%= f.input :user_id, :input_html => {"data-sales-rep" => data_sales_rep} %>
	<%= f.input :project_manager, :input_html => {"data-pm" => data_pm} %>
	<%= f.input :supplier_tokens, :input_html => { "data-suppliers" => @project.suppliers.map(&:attributes).to_json } %>
	<%= f.input :status, :input_html => { :class => "generic" } %>
	<%= f.input :estimation, :input_html => { :class => "generic" } %>
	<%= f.input :lead_source, :collection => Project::LEAD_SOURCES, :prompt => "Select a lead source"%>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
