<%= content_for :sidebar do %>
	<div class="well sidebar-nav">
		<%= render 'shared/general_admin' %>
		<ul class="nav nav-list">
			<li class="nav-header">Projects Administration</li>
			<li><%= link_to "New Project", new_project_path %></li>
			<li><%= link_to "View All", projects_path %></li>
			<li class="nav-header">Filter by:</li>
			<li class="<%= 'active' if params[:action] == 'internal'%>"><%= link_to "Intenal", internal_projects_path %></li>
			<li class="<%= 'active' if params[:action] == 'external'%>"><%= link_to "External", external_projects_path %></li>
      <span class="status_link" id="red"><%= link_to "0",   filter_by_status_projects_path(0) , :class => "project_link", :title => "Canceled"%></span>
      <span class="status_link" id="orange"><%= link_to "1",filter_by_status_projects_path(1) , :class => "project_link", :title => "Quick Look"%></span>
      <span class="status_link" id="yellow"><%= link_to "2",filter_by_status_projects_path(2) , :class => "project_link", :title => "Proposal Development"%></span>
      <span class="status_link" id="purple"><%= link_to "3",filter_by_status_projects_path(3) , :class => "project_link", :title => "Proposal Delivered"%></span>
      <span class="status_link" id="blue"><%= link_to "4",  filter_by_status_projects_path(4) , :class => "project_link", :title => "On Operation"%></span>
      <span class="status_link" id="green"><%= link_to "5", filter_by_status_projects_path(5) , :class => "project_link", :title => "Delivered & Paid"%></span>
			<li class="nav-header">Dates:</li>
			<%= form_tag by_date_range_projects_path, :method => :get do %>
				<%= text_field_tag 'from', params[:from], :class => 'generic calendar', :placeholder => "From..." %>
				<%= text_field_tag 'to', params[:to], :class => 'generic calendar', :placeholder => "To..." %>
				<%= submit_tag "Filter", :class => "btn btn-mini btn-primary" %>
			<% end %>
			<li class="nav-header">Search Project</li>
			<li>
				<%= form_tag projects_path, :method => :get do %>
					<%= text_field_tag 'search', params[:search], :class => 'generic glass', :placeholder => "Search project..." %>
				<% end %>
			</li>
		</ul>	
		
	</div>
<% end %>

<fieldset id="list_of_projects" class="">
	<legend>List of Projects</legend>
<table class="table table-bordered no-layout">
  <thead>
    <tr>
	  <th></th>
      <th>Name</th>
      <th>Client</th>
      <th>Added by</th>
      <th>Business Unit</th>
      <th>Project Manager</th>
      <th>STS</th>
      <th>Lead Source</th>
      <th>Estimation</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each_with_index do |project, index| %>
      <tr>
		<td><%= render_index index %></td>
        <td><%= link_to project.name, project %></td>
        <td><%= project.client %></td>
        <td><%= project.user %></td>
        <td><%= project.business_unit %></td>
        <td><%= project.project_manager %></td>
        <td><%= string_status project.status %></td>
        <td><%= project.lead_source %></td>
        <td><%= number_to_currency project.estimation, :precision => 0 %></td>
        <td><%= project.created_at.strftime("%b %d, %Y") %></td>
        <td>
          <%= link_to "Edit", edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to "Destroy",project_path(project), :method => :delete, :confirm => "Are you sure?",:class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>
<div class="center">
	<%= paginate @projects %>
</div>
