<%- model_class = Project.new.class -%>
<h1>List of projects</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:client_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:business_unit_id) %></th>
      <th><%= model_class.human_attribute_name(:project_manager) %></th>
      <th><%= model_class.human_attribute_name(:real_status) %></th>
      <th><%= model_class.human_attribute_name(:ideal_status) %></th>
      <th><%= model_class.human_attribute_name(:lead_source) %></th>
      <th><%= model_class.human_attribute_name(:estimation) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.client_id %></td>
        <td><%= project.user_id %></td>
        <td><%= project.business_unit_id %></td>
        <td><%= project.project_manager %></td>
        <td><%= project.real_status %></td>
        <td><%= project.ideal_status %></td>
        <td><%= project.lead_source %></td>
        <td><%= project.estimation %></td>
        <td><%= project.created_at.strftime("%b %d, %Y") %></td>
        <td>
          <%= link_to "Edit", edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to "Destroy",project_path(project), :method => :delete, :confirm => "Are you sure?",:class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New project", new_project_path, :class => 'btn btn-primary' %>
