<br />
<div class="row">
	<div class="span6 offset3">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well form-horizontal", :id => "sign_in"}) do |f| %>

		<fieldset>
			<legend>Iniciar sesi칩n</legend>
			<div class="control-group">
				<%= f.label :email, "Correo Electr칩nico", :class => "control-label" %>
				<div class="controls">
					<%= f.email_field :email, :class => "input-xlarge" %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :password, "Contrase침a", :class => "control-label" %>
				<div class="controls">
					<%= f.password_field :password,  :class => "input-xlarge" %>
				</div>
			</div>
		</fieldset>  

		  <% if devise_mapping.rememberable? -%>
			<div class="control-group">
				<div class="controls">
					<%= f.label :remember_me, "#{f.check_box :remember_me} Recuerdame".html_safe, :class => "checkbox" %>
				</div>
			</div>
		  <% end -%>

			<div class="form-actions reset-margins-bottom">
				<%= f.submit "Iniciar sesi칩n", :class => "btn btn-primary btn-large btn-signin" %>
			</div>
		<% end %>
	</div>
</div>