<li class="nav-header">Filter by:</li>
<li><%= link_to "Status", "#" %></li>
<span class="status_link" id="red"><%= link_to "1", filter_by_status_prospects_path(1) %></span>
<span class="status_link" id="yellow"><%= link_to "2", filter_by_status_prospects_path(2) %></span>
<span class="status_link" id="green"><%= link_to "3", filter_by_status_prospects_path(3) %></span>
<span class="status_link" id="gray"><%= link_to "4", filter_by_status_prospects_path(4) %></span>
<li></li>