<%= content_for :sidebar do %>
	<div class="well sidebar-nav">
		<%= render 'shared/general_admin' %>
		<ul class="nav nav-list">
			<li class="nav-header">Projects Administration</li>
			<li><%= link_to "New Project", new_project_path %></li>
			<li><%= link_to "View All", projects_path %></li>
			<li class="nav-header">Filter by:</li>
			<li class="<%= 'active' if params[:action] == 'internal'%>"><%= link_to "Intenal", internal_projects_path %></li>
			<li class="<%= 'active' if params[:action] == 'external'%>"><%= link_to "External", external_projects_path %></li>
			<li class="nav-header">Dates:</li>
			<%= form_tag by_date_range_projects_path, :method => :get do %>
				<%= text_field_tag 'from', params[:from], :class => 'generic calendar', :placeholder => "From..." %>
				<%= text_field_tag 'to', params[:to], :class => 'generic calendar', :placeholder => "To..." %>
				<%= submit_tag "Filter", :class => "btn btn-mini btn-primary" %>
			<% end %>
			<li class="nav-header">Search Project</li>
			<li>
				<%= form_tag projects_path, :method => :get do %>
					<%= text_field_tag 'search', params[:search], :class => 'generic glass', :placeholder => "Search project..." %>
				<% end %>
			</li>
		</ul>	
		
	</div>
<% end %>

<div class="row-fluid">
	<fieldset id="" class="">
		<legend><%= yield(:legend) %></legend>
	<%= simple_form_for @prospect, :html => { :class => 'well' } do |f| %>
	<div class="row-fluid">
		<div class="span4">
			<%= f.input :status, :collection => Prospect::STATUS, :prompt => "Select a status", :input_html => {:class => "generic_select"} %>
		</div>
		<div class="span4">
			<%= f.input :company_name, :input_html => { :class => "generic executive" } %>	
		</div>
		<div class="span4">
			<%= f.input :business_type, :input_html => { :class => "generic general" }, :label => "Business Type" %>
		</div>
	</div>
	  
	<div class="row-fluid">
		<div class="span4">
			<%= f.input :business_unit_tokens, :input_html => { :class => "generic", 'data-interests' => prepopulate_interests(@prospect) }, :label => "Business Units" %>
		</div>
		<div class="span4">
			<%= f.input :contact_name, :input_html => { :class => "generic executive" } %>
		</div>
		<div class="span4">
			<%= f.input :phone, :input_html => { :class => "generic phone" } %>
		</div>
	</div>
	  
	<div class="row-fluid">
		<div class="span4">
			<%= f.input :mobile, :input_html => { :class => "generic phone" } %>
		</div>
		<div class="span4">
			<%= f.input :email, :input_html => { :class => "generic" } %>
		</div>
		<div class="span4">
			<%= f.input :website, :input_html => { :class => "generic map" } %>
		</div>
	</div>
	 
	<div class="row-fluid">
		<div class="span12">
			<%= f.input :address, :input_html => { :rows => 5, :class => "generic_area" } %>
		</div>
	</div> 
	  <div class="form-actions">
	    <%= f.button :submit, :class => 'btn-primary' %>
	    <%= link_to "Cancel", prospects_path, :class => 'btn' %>
	  </div>
	<% end %>
	</fieldset>
</div>

