<%= content_for :sidebar do %>
	<div class="well sidebar-nav">
		<%= render 'shared/general_admin' %>
		<ul class="nav nav-list">
			<li class="nav-header">Prospects Administration</li>
			<li><%= link_to "New Prospect", new_prospect_path %></li>
			<li><%= link_to "View All", prospects_path %></li>
			<%= render 'filters' %>
			<li class="nav-header">Search Prospect</li>
			<li>
				<%= form_tag prospects_path, :method => :get do %>
					<%= text_field_tag 'search', params[:search], :class => 'generic glass', :placeholder => "Search prospect..." %>
				<% end %>
			</li>
		</ul>	
		
	</div>
<% end %>

<fieldset id="list_of_projects" class="">
	<legend>List of Prospects</legend>
<table class="table table-bordered no-layout">
  <thead>
    <tr>
	  	<th></th>
		<th>STS</th>
		<th>Company Name</th>
	      <th>Business Type</th>
	      <th>Interests</th>
		  <th>Contact Name</th>
	      <th>Email</th>
	      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @prospects.each_with_index do |prospect, index| %>
      <tr>
		<td><%= render_index index %></td>
		<td><span class="status_link <%= render_color(prospect.status) %>"><%= link_to prospect.status, '#', :class => "prospect_link", :title => "#{render_string_status(prospect.status)}" %></span></td>
        <td><%= link_to prospect.company_name, prospect %></td>
        <td><%=prospect.business_type %></td>
        <td><%=prospect.business_unit_interests.to_sentence %></td>
        <td><%=prospect.contact_name %></td>
        <td><%=prospect.email %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_prospect_path(prospect), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      prospect_path(prospect),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>
<div class="center">
	<%= paginate @prospects %>
</div>
