<%= content_for :sidebar do %>
	<div class="well sidebar-nav">
		<%= render 'shared/general_admin' %>
		<ul class="nav nav-list">
			<li class="nav-header">Suppliers Administration</li>
			<li><%= link_to "New Supplier", new_supplier_path %></li>
			<li><%= link_to "View All", suppliers_path %></li>
			<li class="nav-header">Search Supplier</li>
			<li>
				<%= form_tag suppliers_path, :method => :get do %>
					<%= text_field_tag 'search', params[:search], :class => 'generic glass', :placeholder => "Search supplier..." %>
				<% end %>
			</li>
		</ul>	
		
	</div>
<% end %>

<div class="row-fluid">
	<div class="span3">
		<%= image_tag @supplier.image_url(:profile) %>
		<h4>Supplier Name: <%= @supplier.company_name %></h4>
	</div>
	<div class="span8 well">
		<fieldset id="company_information" class="">
			<legend>Supplier Information
			<%= link_to "Edit", edit_supplier_path(@supplier), :class => "pull-right" %>
			</legend>
			<p>Business Type: <strong><%= @supplier.business_type %></strong></p>
			<p>Contact Name: <strong><%= @supplier.contact_name %></strong></p>
			<p>Phone: <strong><%= @supplier.phone %></strong></p>
			<p>Email: <strong><%= @supplier.email %></strong></p>
		</fieldset>
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span4 well">
		<h3>Projects with <%= @supplier.company_name %></h3>
		<ul id="client_projects_list">
			<% @supplier.projects.recent.each do |project| %>
				<li>
				<%= link_to project.name.titleize, project %> |
				<%= project.project_manager %> |
				<%= project.status %> |
				<%= number_to_currency project.estimation %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="span7">
		<div class="well">
			<h6>Ingresos Potenciales | Ingresos Generados</h6>
		</div>
		<div class="well">
			<strong>Internal Blog About Supplier: (<%= pluralize @supplier.comments.size, 'comment' %>)</strong>
			<%= link_to '#new_comment_form', "data-toggle" => 'modal', :class => "pull-right btn btn-primary btn-mini" do %>
				<i class="icon-plus icon-white"></i> New Comment
			<% end %>
			<%= render @supplier.comments.recent %>
		</div>
	</div>
	
</div>

<div class="modal hide fade" id="new_comment_form">
  <div class="modal-header">
    <a class="close" href="#" data-dismiss="modal">&times;</a>
    <h3>New Comment for <%= @supplier.company_name %></h3>
  </div>
  <%= simple_form_for(Comment.new, :html => { :class => "" }) do |f| %>
  <div class="modal-body">
	<%= f.input :content, :input_html => { :rows => 10, :cols => 20, :class => "generic_area" } %>
	<%= f.hidden_field :commentable_id, :value => @supplier.id %>
	<%= f.hidden_field :commentable_type, :value => "Supplier" %>
  </div>
  <div class="modal-footer">
	<%= f.submit "Post comment", :class => "btn btn-success" %>
	<a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <% end %>
  </div>
</div>
